body{
    background-image: url(hallway.png);
}

@font-face {
    font-family: fuzzy;
    src: url(StaticBuzz.ttf);
}

.keepgoing{
    display: block;

    animation: pulse 10s infinite;
    padding: 150px 650px 10px;
}

a{
    text-decoration: none;
    

    font-family: fuzzy;
    color: rgb(249, 1, 1);
    font-size: 20px;    
}

@keyframes pulse {
  0% {
    transform: scale(1); /* Starting size */
  }
  50% {
    transform: scale(1.1); /* Grow slightly */
  }
  100% {
    transform: scale(1); /* Shrink back to original size */
  }
}