/* STYLE FOR YOU MAIN.HTML */
body{
background-image: url("home1.jpeg");
}

@font-face {
    font-family: fuzzy;
    src: url(StaticBuzz.ttf);
}

a{
    animation: pulse 10s infinite;

    font-family: fuzzy;
    color: rgb(249, 1, 1);
    font-size: 20px;    
}


.PortalA{ 
    display: flex;
    flex-direction: row;
    margin: 300px 25px 50px;
}


.PortalB{

    display: flex;
    flex-direction: row;

    margin: 0px 500px 20px;

    
}

.PortalC{ 
    display: flex;
    flex-direction: row;

    margin-top: px;
    margin-left: 850px;
}

.CU{
  display: block; 

 margin-left: 1111px;
}

img{
    width: 20%;
}

.choose{
    display: flex;
    flex-direction: row;

    font-family: fuzzy;
    font-size: 60px;

    margin-top: px;
    margin-left: 100px;
}

.waiting:hover{
  font-size: 15px;
}

.waiting{
    display: flex;
    flex-direction: row;

    font-family: fuzzy;
    font-size: 5px;
    
    
    margin-left: 150px;
    margin-top: px;
}

.header{
    display: flex;
    flex-direction: row;
    font-family: fuzzy;
    color: aliceblue;
    font-size: 40px;
    text-align: center;
}

.sweet{
    display: flex;
    flex-direction: row;

    background-color: black;
    border: 10px solid black;

    
    font-family: fuzzy;
    color: aliceblue;
    font-size: px;

    padding: 7%;
}

@keyframes pulse {
  0% {
    transform: scale(1); /* Starting size */
  }
  50% {
    transform: scale(2.1); /* Grow slightly */
  }
  100% {
    transform: scale(1); /* Shrink back to original size */
  }
}




