/* STYLE FOR YOUR INDEX.HTML */
body{
background-image: url("community.jpg");
}

@font-face {
    font-family: fuzzy;
    src: url("StaticBuzz.ttf");
}

.title{
    display: flex;
    flex-direction: column;
    font-family: fuzzy;
    color: red;
    font-size: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Greetings{
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
    font-family: fuzzy;

}

a{
   text-decoration: none;
}

.welcome-btn{
    display: block;
    justify-content: center;
    
    
    width: 100px;
    margin-top: 200px;
    margin-left: 450px;

    font-family: fuzzy;
    font-size: 10px;
    
    color: black;
    background-color: black;

    cursor: pointer;
    text-decoration: none;
    transition: all 1s;
}

.welcome-btn:hover{
    width: 150px;
    height: 150px;
    font-size: 20px;
    background-color: blue;
    color: white;
}
